.header {
  position: relative;
}

.header__container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
  min-width: 180px;
  display: flex;
  flex-direction: column;
  gap: 110px;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.autorization {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.autorization__link {
  display: block;
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  padding: 11px 15px;

  &.autorization__link--active {
    border: 2px solid #fff;
    border-radius: 22px;
  }
}

@media (min-width: 768px) {
  .header__container {
    min-width: 760px;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
